<h1>ทีมพัฒนา</h1>
<h2>ระบบนี้ถูกพัฒนาโดย</h2>
<h3>นายสิทธินนท์ ทองเสือ รหัสนิสิต 6530202501</h3>
<h4 >email: <a href="mailto:sittinon.to@ku.th" style="color: black;">sittinon.to[at]ku.th.com</a></h4>
<h4>
  <a href="https://www.facebook.com/profile.php?id=100012607745431" style="color: black;">Facebook: Sittinon Tongsua</a>
</h4>
<hr />
<h3>เรื่องราวของฉัน</h3>
<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">อดีตของฉัน</h5>
        <p>
            ฉันเกิดในวันที่ 26 มีนาคม พ.ศ. 2547 ในจังหวัดปราจีนบรี และเริ่มเรียนตั้งแต่ประถมต้น ที่โรงเรียนศรีมหาโพธิ์เป็นโรงเรียนประจำอำเภอ จนจบมัธยมตอนปลาย
        </p>
        <p>
            ฉันมาเรียนที่นี่เพื่อเรียนรู้เกี่ยวกับการพัฒนาเว็บแอพพลิเคชั่น และเพื่อเรียนรู้เกี่ยวกับการทำงานเป็นทีม
        </p>
        <p>
            มันไม่ใช่ง่ายที่จะเรียนรู้เรื่องใหม่ๆ แต่ฉันจะพยายามที่จะเรียนรู้ให้มากที่สุด
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">อนาคตอันใกล้ของฉัน</h5>
        <p>
            ในปีหน้า ฉันเลือกทำปัญหาพิเศษ เพราะฉันอยากทำงานเกี่ยวกับการพัฒนาเว็บแอพพลิเคชั่น และฉันอยากทำงานเป็นทีมกับคู่โปรเจคของฉัน
        </p>
        <p>
            ในระหว่างนี้ ฉันจะพยายามที่จะเรียนรู้เรื่องใหม่ๆ และพัฒนาทักษะของฉันให้ดียิ่งขึ้น
        </p>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">อนาคตอันไกลของฉัน</h5>
        <p>
            เมื่อฉันจบฉันอยากเป็นนักพัฒนาซอฟต์แวร์ และเป็นนักพัฒนาเว็บแอพพลิเคชั่น ฉันคิดว่ามันจะสร้างโอกาสให้ฉันได้เรียนรู้เรื่องใหม่ๆ และพัฒนาทักษะของฉันให้ดียิ่งขึ้น
        </p>
      </div>
    </div>
  </div>
</div>